.home .hero img
  max-width 450px

.go-to-top {
  cursor: pointer
  position: fixed
  bottom: 4.5rem!important
  right: 1.50rem!important
  width: 2rem
  color: $accentColor
  z-index: 1
}

.mx-1 {
  margin-left: .5rem!important
  margin-right: .5rem!important
}

.story-title {
  color: white;
}