$accentColor = #96262C;
$secondaryColor = lighten(#C06C84, 20%);
$textColor = #FFFFFF;
$borderColor = rgba(0, 0, 0, 0.05);
$codeBgColor = darken(#654ea3, 50%);
$arrowBgColor = #ccc;

$social-share-trigger-color ?= $accentColor