$accentColor = #783636;
$secondaryColor = lighten(#C06C84, 20%);
$textColor = #d9a3a3;
$borderColor = rgba(0, 0, 0, 0.05);
$codeBgColor = darken(#654ea3, 50%);
$arrowBgColor = #ccc;

$social-share-trigger-color ?= $accentColor